@import "../styles/partials/colors";
@import "../styles/partials/breakpoints";

@mixin button($color) {
  background-color: $color;
  &:hover {
    background: darken($color, 2);
  }
}

#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;

  h2 {
    color: $accent;
    font-weight: bold;
    margin: 0 0 8px;
    transition: ease-out 0.5s;
  }

  h1 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #00000099;
    margin: 0 0 16px;
  }

  a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 6px;

    &#linkedin {
      @include button($linkedin);
    }

    &#instagram {
      @include button($instagram);
    }

    &#twitter {
      @include button($twittter);
    }
  }
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#message:hover {
  h2 {
    margin: 4px 0 4px;
  }
}

.links {
  padding-top: 2rem;
}

@media (max-width: $mobile) {
  #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }
}
