/* You can add global styles to this file, and also import other style files */
@import 'styles/partials/colors';
@import 'styles/partials/breakpoints';

body {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

@media (max-width: $mobile) {
  body {
    box-shadow: none;
  }

  body {
    border-top: 16px solid var(--primary-color);
  }
}
